@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 14% 90%;
    --muted-foreground: 215 15% 40%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 222.2 100% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 15% 92%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 221 83% 53%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;
    --ring: 222.2 84% 63.2%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 224 71% 3%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215 20% 65%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20% 65%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --primary: 222 89% 60%;
    --primary-foreground: 224 71% 4%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217 91% 60%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --ring: 222.2 84% 63.2%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'salt' on, 'ss02' on;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
